<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/login.js"></script>
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo-name">
                Classroom
            </div>
            <div class="auth-div">
                <button id="signup-button" class="auth-button">Signup</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="loginDom">
            <div class="container" onclick>
                <div class="top"></div> <!-- Placeholder for the top part of the container -->
                <div class="bottom"></div> <!-- Placeholder for the bottom part of the container -->
                <div class="center">
                    <h2>Please Sign In</h2> <!-- Heading for the sign-in form -->
                    <input type="email" placeholder="email" id="emailInput" class="inputTextSelection" >
                    <i id="emailicon" class="fa-solid fa-envelope"></i>
                    <!-- Email input field -->
                    <input type="password" placeholder="password" id="passwordInput" class="inputTextSection">
                    <i class="fa-solid fa-lock"></i>
                    <!-- Password input field -->
                    <button type="button" id="loginButton" class="loginButton">Login</button> <!-- Login button -->
                    <h2>&nbsp;</h2> <!-- Empty heading, possibly used for spacing -->
                </div>
            </div>

        </div>
        <script src="https://kit.fontawesome.com/93bc260217.js" crossorigin="anonymous"></script>
    </main>
    <footer>

    </footer>
</body>

</html>